.food-list {
    max-height: 35vh;
    overflow-y: auto;
  }
  
  .food-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  
  .food-name-and-calories {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  