@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainHero{
  background-image: url('images/workout.jpeg');
}

.card{
  height: 25rem;
  width: 90%;
  justify-self: center;
}

.scaleButton{
  min-height: 2rem;
  height: 2rem;
  width: 2rem;
}

